.row{
   margin-left: 20px;
}
.movies{
   display: flex;
   overflow-x:scroll ;
}
.movie{
    height: 200px;
    margin-right: 10px;
    transition: .3s ease-in-out;
}
.movie:hover{
    transform: scale(1.07);
}
.movies::-webkit-scrollbar{
    display: none;
}